/* SPDX-License-Identifier: MIT
 *
 * Copyright (C) 2019-2022 WireGuard LLC. All Rights Reserved.
 */

#include <windows.h>

#pragma code_page(65001) // UTF-8

#define STRINGIZE(x) #x
#define EXPAND(x) STRINGIZE(x)

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST manifest.xml
7 ICON ui/icon/wireguard.ico
8 ICON ui/icon/dot.ico

#define VERSIONINFO_TEMPLATE(block_id, lang_id, codepage_id, file_desc, comments) \
VS_VERSION_INFO VERSIONINFO \
FILEVERSION    WIREGUARD_VERSION_ARRAY \
PRODUCTVERSION WIREGUARD_VERSION_ARRAY \
FILEOS         VOS_NT_WINDOWS32 \
FILETYPE       VFT_APP \
FILESUBTYPE    VFT2_UNKNOWN \
BEGIN \
  BLOCK "StringFileInfo" \
  BEGIN \
    BLOCK block_id \
    BEGIN \
      VALUE "CompanyName", "Amnezia" \
      VALUE "FileDescription", file_desc \
      VALUE "FileVersion", EXPAND(WIREGUARD_VERSION_STR) \
      VALUE "InternalName", "amneziawg-windows-client" \
      VALUE "LegalCopyright", "Copyright © 2015-2022 Jason A. Donenfeld. WireGuard is a trademark of Jason A. Donenfeld.\nCopyright © 2024 AmneziaVPN. AmneziaWG is based on WireGuard, changes and modifications made by AmneziaVPN. All Rights Reserved." \
      VALUE "OriginalFilename", "amneziawg.exe" \
      VALUE "ProductName", "AmneziaWG" \
      VALUE "ProductVersion", EXPAND(WIREGUARD_VERSION_STR) \
      VALUE "Comments", comments \
    END \
  END \
  BLOCK "VarFileInfo" \
  BEGIN \
    VALUE "Translation", lang_id, codepage_id \
  END \
END

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "040904b0", 0x409, 0x4b0,
  "AmneziaWG: Fast, Modern, Secure VPN Tunnel",
  "https://amnezia.org/"
)

LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "040c04b0", 0x40c, 0x4b0,
  "AmneziaWG: tunnel VPN rapide, moderne, sécurisé",
  "https://amnezia.org/"
)

LANGUAGE LANG_ITALIAN, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "041004b0", 0x410, 0x4b0,
  "AmneziaWG: Tunnel VPN veloce, moderno e sicuro",
  "https://amnezia.org/"
)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "041104b0", 0x411, 0x4b0,
  "AmneziaWG: 高速で、現代的で、セキュアな VPN トンネル",
  "https://amnezia.org/"
)

LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "042404b0", 0x424, 0x4b0,
  "AmneziaWG: hiter, sodoben, varen tunel VPN",
  "https://amnezia.org/"
)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
VERSIONINFO_TEMPLATE(
  "040404b0", 0x404, 0x4b0,
  "AmneziaWG：快速、現代、安全的 VPN 隧道",
  "https://amnezia.org/"
)
